[package]
name = "youtube-music-proxy"
version = "1.0.0"
description = "CachyOS desktop application for streaming YouTube music without ads"
authors = ["you"]
license = "MIT"
repository = ""
edition = "2021"
rust-version = "1.70"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.5", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.5", features = [ "dialog-all", "fs-all", "shell-open", "http-all", "process-relaunch", "process-exit", "global-shortcut-all", "clipboard-all", "notification-all", "window-all", "system-tray"] }

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]